body {
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: black;
    background-image: url("../images/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

canvas {
    width: 100%;
    height: 100%;
}

a {color: #00B7FF;}


#headerBox {
    position: absolute;
    width: 100%;
    color: darkgrey;
    background: rgba(0, 0, 0, 0.9);
/*    white-space:nowrap;*/
}
#headerBox tr { line-height: 10px; }

#leftHeaderBox {
    position: absolute;
    width: 100%;
    color: darkgrey;
    /*    white-space:nowrap;*/
}

#footerBox {
    position: absolute;
    bottom:0px;
    width: 100%;
    color: darkgrey;
    background: rgba(0, 0, 0, 0.9);
    /*    white-space:nowrap;*/
}

#pnlPlayerInfo {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 200px;
    /*border: 3px solid #73AD21;*/
    color: white;
    background: rgba(0, 0, 0, 0.9);
}

#gameDiv {
    width: 100%;
    height: 100%;
}

#signDiv {
    width: 200px;
    height: 100px;
    position: absolute;
    color: black;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#pnlChat {
    bottom:100px;
    margin-left: 10px;
    position: absolute;
    width: 500px;
    height: 100px;
}

#Chat-TextHeader {
    color: darkgrey;
    background: rgba(0, 0, 0, 0.9);
}

#Chat-Text {
    width: 100%;
    height: 100%;
    color: darkgrey;
    overflow-y: auto;
    font-size: small;
    background: rgba(0, 0, 0, 0.7);
}

#Chat-Input {
    width: 496px;
}